

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.modal-content {
  animation: fade 2s;
  min-width: 100%;
  min-height: 100vh;
  bottom: 0%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  background-image: linear-gradient(-45deg, #03bd37, #305063);
  margin: 50% auto 0 auto;;
  max-width: 66%;
  border-radius: 2px;
}

.modal-body {
  animation: fade 2s;
  max-width: 66%;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.modal-header h5 {
  animation: fade 2s;
  margin: 0 0 0 2%;
  color: white;

}


.modal-header button {
  margin-right: 2%;
  margin-bottom: 2%;
  background: none;
  border: none;
  color: white;
  font-size: 100%;
  
}



@keyframes fade {
  0% {
      opacity:.1;
      transform: translateY(20px);
  }
  100% {
      opacity:1;
      transform: translateY(0px);
  }
}